<div id="subjectDropdown"></div>
<div id="standardDropdown"></div>

<div id="gantt"></div>

@section Scripts {
    <script>
        function loadGantt(cwsid) {
            if ($("#gantt").data("kendoGantt")) {
                $("#gantt").data("kendoGantt").destroy();
                $("#gantt").empty();
            }

            $("#gantt").kendoGantt({
                dataSource: {
                    transport: {
                        read: {
                            url: "/MVCSyllabus/GetSyllabusData/" + cwsid,
                            type: "GET",
                            dataType: "json"
                        },
                        create: {
                            url: "/MVCSyllabus/CreateSyllabus",
                            type: "POST",
                            dataType: "json",
                            complete: function (response) {
                                $("#gantt").data("kendoGantt").dataSource.read();
                                console.log(response)
                            }
                        },
                        update: {
                            url: "/MVCSyllabus/UpdateSyllabus",
                            type: "POST",
                            dataType: "json",
                            complete: function (response) {
                                console.log(response)
                            }
                        },
                        destroy: {
                            url: "/MVCSyllabus/DeleteSyllabus",
                            type: "DELETE",
                            complete: function (response) {
                                $("#gantt").data("kendoGantt").dataSource.read();
                                console.log(response)
                            }
                        }
                    },
                },
                schema: {
                    model: {
                        id: "syllabusID",
                        fields: {
                            start: { type: "date" },
                            end: { type: "date" }
                        }
                    }
                },
                editable: true,
                views: ["day", "week", { type: "month", selected: true }, "year"],
                columns: [
                    { field: "title", title: "Chapters" },
                    { field: "done", title: "Done %" }
                ],
            });
        };

        $(document).ready(function () {
            $("#subjectDropdown").kendoDropDownList({
                dataSource: {
                    transport: {
                        read: {
                            url: "/MVCSyllabus/GetSubjects",
                            dataType: "json"
                        }
                    }
                },
                dataTextField: "name",
                dataValueField: "id",
                optionLabel: "Select Subject...",
                filter: "contains",
                change: onSelectionChange,
                height: 300
            });

            $("#standardDropdown").kendoDropDownList({
                dataSource: {
                    transport: {
                        read: {
                            url: "/MVCSyllabus/GetStandards",
                            dataType: "json"
                        }
                    }
                },
                dataTextField: "standard",
                dataValueField: "standard",
                optionLabel: "Select Standard...",
                filter: "contains",
                change: onSelectionChange,
                height: 300
            });
        });

        function onSelectionChange() {
            var cwsid = 0;
            selectedSubjectId = $("#subjectDropdown").data("kendoDropDownList").value();
            selectedStandard = $("#standardDropdown").data("kendoDropDownList").value();

            if (selectedSubjectId && selectedStandard) {
                console.log(selectedSubjectId, selectedStandard);
                $.ajax({
                    url: "/MVCSyllabus/GetCWSID",
                    type: "GET",
                    data: {
                        subjectId: selectedSubjectId,
                        standard: selectedStandard
                    },
                    success: function (response) {
                        if (response.cwsid) {
                            cwsid = response.cwsid;
                            console.log("CWSID:", cwsid);
                            loadGantt(cwsid);
                        } else {
                            console.log("No matching CWSID found.");
                        }
                    },
                    error: function (error) {
                        console.error("Error fetching CWSID:", error);
                    }
                });
            }
        }
    </script>
}