<div id="gantt"></div>

@section scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/MVCSyllabus/GetSyllabusData',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $("#gantt").kendoGantt({
                        dataSource: {
                            data: data,
                        },
                        views: ["day", "week", { type: "month", selected: true }, "year"],
                        columns: [
                            { field: "title", title: "Chapters" },
                            { field: "done", title: "Done %" }
                        ]
                    });
                }
            });
        });
    </script>
}