@model WebAPI.Models.Forgotpassword
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @* <title>Login Page with Kendo UI Notification</title> *@



    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/VERSION/styles/kendo.default-v2.min.css">
    <link href="https://kendo.cdn.telerik.com/2024.3.1204/styles/kendo.default-v2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/VERSION/js/kendo.all.min.js"></script>
    @* ------ *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/kendo/dist/css/kendo.common.min.css" />
    <link rel="stylesheet" href="~/lib/kendo/dist/css/kendo.default.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC.styles.css" asp-append-version="true" />
    <script src="https://kendo.cdn.telerik.com/2024.3.1204/js/kendo.captcha.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>




    <head>
        <link href="https://kendo.cdn.telerik.com/2024.3.1104/styles/kendo.default-v2.min.css" rel="stylesheet" />

    </head>

    <style>
        body {
            background-color: #b6d4f1;
        }

        .login-container {
            max-width: 400px;
            margin: 100px auto;
            padding: 30px;
            background-color: #ffffff;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            border: 1px solid #e3e6eb;
        }

        .login-container h2 {
            text-align: center;
            margin-bottom: 30px;
            font-weight: bold;
            color: #343a40;
        }

        .k-textbox {
            border: none;
            margin: 0 !important;
        }

        #captchaInput,
        #forgotPasswordEmail {
            border: 1px solid #CED4DA !important;
            background-color: #f9fafb;
            margin: 0 !important;
        }

        .k-textbox input {
            width: 100%;
            font-size: 15px;
            border: 1px solid #ced4da;
            border-radius: 5px;
            color: #495057;
            background-color: #f9fafb;
            box-shadow: none;

        }

        .k-textbox input:focus {
            border-color: #007bff;
            box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.25);

        }

        .k-textbox input::placeholder {
            color: #adb5bd;
        }

        .k-button {
            width: 100%;
            background-color: #577ea8;
            color: #ffffff;
            font-weight: bold;
            padding: 10px;
            border: none;
            border-radius: 4px;
            transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
            margin-top: 15px;
        }

        .reload {
            display: block !important;
            padding: 0 !important;
            height: 50px;
            width: 50px;
            text-align: center;
        }

        .k-button:hover {
            background-color: #63ada1;
            transform: scale(1.05);
            box-shadow: 0px 4px 12px rgba(0, 91, 187, 0.3), 0 0 8px rgba(0, 91, 187, 0.6);
        }




        #notification {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .k-notification-success {
            background-color: #a5dc86;
            color: rgb(255, 255, 255);
            border-radius: 8px;

            font-size: 16px;
            padding: 20px;
            margin: -29px !important;
            text-align: center;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        .k-notification-error {

            background-color: #f27474;
            color: rgb(255, 255, 255);
            border-radius: 8px;

            font-size: 16px;
            padding: 20px;
            margin: -29px !important;
            text-align: center;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        #notification {
            position: fixed;
            top: 80px;
            right: 50px;
            z-index: 9999;
            width: auto;

        }

        .k-notification .k-icon {
            font-size: 24px;
            vertical-align: middle;
            margin-right: 3px;
        }

        .text-center a {
            color: #007bff;
            font-weight: bold;
            text-decoration: none;
            position: relative;
            display: inline-block;
            padding: 6px 12px;
            border-radius: 4px;
            transition: all 0.3s ease;
        }

        .text-center a:hover {
            color: #007bff;
            transform: scale(1.05);
            box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3), 0 6px 12px rgba(0, 123, 255, 0.2);
        }
    </style>
</head>

<body>


    <div class="login-container">
        <h2>Forgot Password</h2>

        <form id="loginForm">


            <input asp-for="OTP" class="k-textbox" type="text" placeholder="Enter OTP" id="OTP" />
            <span asp-validation-for="OTP" class="text-danger"></span>

            <input asp-for="Password" class="k-textbox" type="password" placeholder="Password" id="password" />
            <span asp-validation-for="Password" class="text-danger"></span>

            <input asp-for="ConfirmPassword" class="k-textbox" type="password" placeholder="Confirm Password"
                id="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>


            <button id="loginButton" type="button" class="k-button k-primary">Login</button>

        </form>


        <div class="text-center mt-3">
            <p>
                <a href="/Login/Login" class="text-decoration-none">Back to Login Page</a> |
                <a href="/" class="text-decoration-none">Go to Home Page</a>
            </p>
        </div>
    </div>

    <div id="notification"></div>
      <div id="loader" style="display: none;">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>


        </div>

    <script>

        $(document).ready(function () {

             $(document).ajaxStart(function () {
                $("#loader").show();
                $(".login-container").addClass("blur");
            }).ajaxStop(function () {
                $("#loader").hide();
                $(".login-container").removeClass("blur");
            });

            var notification = $("#notification").kendoNotification({
                appendTo: "#notification",
                autoHideAfter: 2000,
                templates: [
                    {
                        type: "success",
                        template: "<div class='k-notification-success'><span class='k-icon k-i-check'></span> #= message #</div>"
                    },
                    {
                        type: "error",
                        template: "<div class='k-notification-error'><span class='k-icon k-i-warning'></span> #= message #</div>"
                    }
                ]
            }).data("kendoNotification");


            $("#OTP").kendoTextBox({
                placeholder: "OTP",
                label: "OTP"
            });

            $("#password").kendoTextBox({
                placeholder: "Password",
                label: "Password"
            });
            $("#ConfirmPassword").kendoTextBox({
                placeholder: "Confirm Password",
                label: "Confirm Password"
            });



            $("#loginButton").click(function () {
                var OTP = $("#OTP").val();
                var password = $("#password").val();
                var ConfirmPassword = $("#ConfirmPassword").val();
                var getotp = localStorage.getItem("otp");
                var getemail = localStorage.getItem("email");

                if (getotp !== OTP) {

                    notification.show({ message: "Not Match OTP" }, "error");
                    return;
                }
                if (password !== ConfirmPassword) {

                    notification.show({ message: "password !== ConfirmPassword" }, "error");
                    return;
                }

                var forgotdata = {
                    "email": getemail,
                    "password": password,
                    "confirmPassword": ConfirmPassword,
                    "otp": OTP
                };


                console.log(password, ConfirmPassword, "=====> otpotpotpotpotpotp")


                $.ajax({
                    url: "http://localhost:5064/api/Login/Newpassword",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(forgotdata),
                    success: function (response) {
                       
                        notification.show({ message: response }, "success");
                        localStorage.removeItem("otp");
                        localStorage.removeItem("email");
                        window.location.href = "/Login/Login";
                    },
                    error: function (error) {
                        notification.show({ message: "BHagggggg" }, "error");
                    }
                });
            });
        });
    </script>

</body>

</html>
